Account is here

<form name="accountForm" novalidate>
    <div class="form-group">
        <label>Имя</label>
        <input class="form-control" data-ng-model="$ctrl.account.name" type="text" placeholder="Имя" required ng-minlength="3" name="userName">
    </div>

    <div ng-messages="accountForm.userName.$error" ng-if="accountForm.userName.$dirty">

        <div ng-message="required" class="alert alert-danger" role="alert">Введите имя</div>
        <div ng-message="minlength" class="alert alert-danger" role="alert">Имя слишком короткое</div>

    </div>

    <div class="form-group">
        <label>e-mail</label>
        <input class="form-control" data-ng-model="$ctrl.account.email" type="email" placeholder="e-mail" required name="userEmail">
    </div>

    <div ng-messages="accountForm.userEmail.$error" ng-if="accountForm.userEmail.$dirty">

        <div ng-message="required" class="alert alert-danger" role="alert">Введите e-mail</div>
        <div ng-message="email" class="alert alert-danger" role="alert">Некорректный e-mail</div>

    </div>

    <div class="form-group">
        <label>Телефон</label>
        <input class="form-control" data-ng-model="$ctrl.account.phone" type="text" ng-pattern="/^(\+)?(\d)+$/" placeholder="Телефон" name="userPhone">
    </div>

    <div ng-messages="accountForm.userPhone.$error" ng-if="accountForm.userPhone.$dirty">

        <div ng-message="pattern" class="alert alert-danger" role="alert">Некорректный номер телефона</div>

    </div>

</form>
